.DisplayRow {
  /* width: 100vw; */
  /* margin-top: 2rem; */
  /* overflow: hidden; */
}

.DisplayRow_Container {
  width: 100%;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  /* margin-left: 5; */

  /* overflow-x: auto; */
  /* overflow-y: hidden; */
  /* white-space: nowrap; */
}

.Item_Container {
  /* background-color: aqua; */
  padding-right: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.Card_Container {
  background-color: aqua;
}
